body {
    background-color: #E3CAA5;
}
nav{
    background-color:  rgba(255, 251, 233, 0.5);
    position: fixed;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.177);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 35px;
}
.nav-link{
    color: rgb(44, 44, 44);
    font-size: 17.8px;
}
.nav-link:hover{
    color:  rgb(206, 171, 147);
    font-size: 20px;
    transition: 0.5s;
}
.container, .card {
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 15px;
    text-align: center;
    background-color: #AD8B73;
}
#input_name1, #input_name2 {
    width: 80%;
    margin-bottom: 15px;
    background-color: #f0f0f0;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(173, 139, 115, 0.5);
    color: #fff;
    text-align: center;
    margin-top: 10px;
    padding: 1px 0;
    font-size: 14px;
}
